:root {
    --color-principal: #3A3B40;
    --color-amarillo: #EAC956;
    --color-amarillo-disabled: rgba(234, 201, 86, 0.5);
    --color-rojo: rgba(255, 90, 90, 1);
    --color-rojo-disabled: rgba(255, 90, 90, 0.5);
}

body {
    background-color: var(--color-principal);
    color: white;
    font-family: Arial;
    margin: 0;
    padding: 0;
}

img {
    aspect-ratio: 1/1;
    border-radius: 10px;
}

/* Navbar */
nav {
    background-color: #24252A;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline-block;
    margin-right: 20px;
}

li:last-child {
    margin-right: 0;
}

a {
    text-decoration: none;
    position: relative;
}

a.active:before {
    content: "";
    position: absolute;
    top: -5px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #EAC956;
}

.active {
    color: #EAC956;
}

.inactive {
    color: #8F8F8F;
}

/* Estilos para los botones amarillos */
.botonAmarillo {
    text-align: center;
    border-radius: 5px;
    background-color: var(--color-amarillo);
    cursor: pointer;
    border: 0px;
    font-weight: 600;
}

.botonAmarillo:disabled {
    background-color: var(--color-amarillo-disabled);
    cursor: default;
    color: black;
    border: 0px;
}

.botonRojo {
    text-align: center;
    border-radius: 5px;
    background-color: var(--color-rojo);
    cursor: pointer;
    border: 0px;
    font-weight: 750;
}

.botonRojo:disabled {
    background-color: var(--color-rojo-disabled);
    cursor: default;
    color: black;
    border: 0px;
}

.botones {
    text-align: center;
}

.botones .botonAmarillo {
    margin-top: 25px;
    margin-left: 0.5%;
    margin-right: 0.5%;
    width: 200px;
    height: 30px;

}

.botones .botonRojo {
    margin-left: 0.5%;
    margin-right: 0.5%;
    width: 200px;
    height: 30px;
}

.barraBusqueda {
    margin-top: 1%;
    text-align: center;
}

.barraBusqueda .botonAmarillo {
    margin-left: 1%;
    margin-right: 1%;
    transform: scale(1.4, 1.5);
    font-size: 0.6rem;
}

.inputTexto {
    background-color: var(--color-principal);
    border: 1px solid;
    border-color: #C9C9C9;
    border-radius: 5px;
    color: #C9C9C9;
    font-family: Arial;
}

.barraBusqueda .inputTexto {
    margin-left: 0.25%;
    margin-right: 0.25%;
}

.barraBusqueda label {
    margin-left: 0.25%;
    margin-right: 0.25%;
}

.Imagen {
    grid-area: Imagen;
}

.Imagen img {
    height: 100%;
    width: 90%;
    margin-top: 0;
    border-radius: 5%;
}

.Nombre {
    grid-area: Nombre;
}

.NombreComun {
    grid-area: NombreComun;
}

.Precio {
    grid-area: Precio;
}

.Descripcion {
    grid-area: Descripcion;
}

.ProveedorLabel {
    grid-area: ProveedorLabel;
}

.Proveedor {
    grid-area: Proveedor;
    text-align: right;
}

.AlmacenLabel {
    grid-area: AlmacenLabel;
}

.Almacen {
    grid-area: Almacen;
    text-align: right;
}

.ContabilidadLabel {
    grid-area: ContabilidadLabel;
}

.Contabilidad {
    grid-area: Contabilidad;
    text-align: right;
}

.ReferenciaLabel {
    grid-area: ReferenciaLabel;
}

.Referencia {
    grid-area: Referencia;
    text-align: right;
}

.BotonConsultar {
    grid-area: BotonConsultar;
}

.BotonConsultar .botonAmarillo {
    width: 100%;
    height: 100%;
}

.cardItem.seleccionado {
    border: 2px solid black;
}

.cardItem:hover {
    border: 2px solid black;
}

.modal {
    background-color: var(--color-principal);
    box-shadow: 0px 4px 4px 4px rgba(0, 0, 0, 0.25);
    z-index: 999;
    position: fixed;
    text-align: center;
    display: none;
}

.modalConfirmacion {
    background-color: var(--color-principal);
    box-shadow: 0px 4px 4px 4px rgba(0, 0, 0, 0.25);
    z-index: 999;
    position: fixed;
    text-align: center;
    display: none;
}

.formCrearItem {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    display: flex;
    flex-direction: column;
}

.formCrearItem>* {
    margin-top: 10px;
}

.formCrearItem .botonAmarillo {
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    height: 3vh;
}

.custom-file-input {
    position: relative;
    display: inline-block;
    overflow: hidden;
    margin-left: 15%;
    width: 70%;
    height: 20px;
    border-radius: 5px;
    text-align: center;
    border: 1px solid #C9C9C9;
}

#file-input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

#file-label {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: white;
}

.modal .botonRojo {
    position: absolute;
    top: 0;
    right: 0;
    color: white;
}

.modalConfirmacion .botonRojo {
    position: relative;
    right: 5%;
}

.modalConfirmacion .botonAmarillo {
    position: relative;
    left: 5%;
}

.modal table {
    display: inline-block;
    border-collapse: collapse;
}

tr {
    border: 1px solid white;
    cursor: pointer;
}

td,
th {
    padding: 8px;
}


/* Secciones */

#secciones .botones .botonAmarillo {
    border-radius: 0;
}






.busqueda-seccion button {
    margin-right: 10px;
    border-radius: 0;
    width: 80px;
    height: 30px;
    font-size: 1.1rem;
}

.busqueda-seccion> :first-child {
    margin-left: 10px;
}




.card-seccion .seccion {
    text-align: center;
    margin-top: auto;
    padding-top: 10px;

}




.modal-crear-seccion .botonRojo {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 999;
    transform: scale(1.2);
}

.form-crear-seccion p {
    position: absolute;
    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;

}

#nivel {
    height: 3vh;
    background-color: var(--color-principal);
    color: white;
    border-radius: 5px;
    border: 1px solid #C9C9C9;
}

.sinFlechas::-webkit-inner-spin-button,
.sinFlechas::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.sinFlechas {
    -moz-appearance: textfield;
    appearance: none;
}



/* Conjuntos */
#selectItems {
    background-color: var(--color-principal);
    text-align: center;
    border-radius: 5px;
    border: 1px solid #C9C9C9;
    color: #C9C9C9;
    width: 200px;
}



.card-conjunto.seleccionado {
    border: 2px solid black;
}

.card-conjunto:hover {
    border: 2px solid black;
}

.card-conjunto img {
    margin-bottom: 20px;
}

.card-conjunto .conjunto {
    margin-top: 10px;
    text-align: center;
}

.card-conjunto .boton {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    transform: scale(1.5, 1.2);
}



.modal-crear-conjunto .form-crear-conjunto {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;

}

.modal-crear-conjunto .botonRojo {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 999;
    transform: scale(1.2);
}

.form-crear-conjunto p {
    position: absolute;
    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;

}

.form-crear-conjunto,
p,
input,
textarea,
div,
select,
.botonAmarillo {
    margin-top: 15px;
}

.form-crear-conjunto .botonAmarillo {
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
    height: 3vh;
}

.form-crear-conjunto select {
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    height: 3vh;
    background-color: var(--color-principal);
    color: white;
    border-radius: 5px;
    border: 1px solid #C9C9C9;
    text-align: center;
}



.modal-actualizar-conjunto .form-actualizar-conjunto {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;

}

.modal-actualizar-conjunto .botonRojo {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 999;
    transform: scale(1.2);
}

.form-actualizar-conjunto p {
    position: absolute;
    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;

}

.form-crear-conjunto,
p,
input,
textarea,
div,
select,
.botonAmarillo {
    margin-top: 15px;
}

.form-crear-conjunto .botonAmarillo {
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
    height: 3vh;
}

.selectActualizarConjunto {
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    height: 3vh;
    background-color: var(--color-principal);
    color: white;
    border-radius: 5px;
    border: 1px solid #C9C9C9;
    text-align: center;
}






.cardsItems .botonAmarillo {
    margin-top: -10%;
    border-radius: 0;
    height: 150%;
}




/* Media Queries, A.K.A el machetazo pa que eso sea responsive */
/* PC */
@media (min-width: 768px) {
    .cardsItems {
        margin-top: 2%;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(20vw, 1fr));
        grid-gap: 10px;
    }

    .cardItem {
        display: grid;
        margin-left: 2%;
        height: 100%;
        margin-right: 2%;
        box-shadow: 0px 4px 4px 4px rgba(0, 0, 0, 0.25);
        grid-template-columns: 0.25vw 4vw 5vw 5vw 5vw;
        grid-template-rows: 0.1em 3em 3em 3em 1em 3em 3em 3em 3em 3em 3em;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
            ". . . . ."
            ". Imagen Imagen Nombre Nombre"
            ". Imagen Imagen NombreComun NombreComun"
            ". Imagen Imagen Precio Precio"
            ". Imagen Imagen . ."
            ". Descripcion Descripcion Descripcion Descripcion"
            ". ProveedorLabel ProveedorLabel Proveedor Proveedor"
            ". AlmacenLabel AlmacenLabel Almacen Almacen"
            ". ContabilidadLabel ContabilidadLabel Contabilidad Contabilidad"
            ". ReferenciaLabel ReferenciaLabel Referencia Referencia"
            ". . BotonConsultar BotonConsultar .";
    }

    .busqueda-seccion {
        margin-top: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .busqueda-seccion select {
        margin-right: 10px;
        background-color: var(--color-amarillo);
        text-align: center;
        font-size: 1.1em;
    }

    .cards-conjuntos {
        margin-top: 20px;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(20vw, 1fr));
        padding: 10px;
    }

    .card-conjunto {
        box-shadow: 0px 4px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 13px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        width: 250px;
    }

    /* modal */
    .modal-crear-conjunto {
        background-color: var(--color-principal);
        box-shadow: 0px 4px 4px 4px rgba(0, 0, 0, 0.25);
        z-index: 998;
        position: absolute;
        left: 35%;
        text-align: center;
        display: none;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 20px;
        width: 25%;
        top: 10%;
    }

    /* modal actualizar */
    .modal-actualizar-conjunto {
        background-color: var(--color-principal);
        box-shadow: 0px 4px 4px 4px rgba(0, 0, 0, 0.25);
        z-index: 998;
        position: absolute;
        left: 35%;
        text-align: center;
        display: none;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 20px;
        width: 25%;
        top: 10%;
    }

    .cards-secciones {
        margin-top: 20px;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(20vw, 1fr));
        grid-gap: 20px;
        padding: 10px;
    }

    .card-seccion {
        box-shadow: 0px 4px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 13px;
        padding: 10px;
        display: flex;
        flex-direction: column;
        width: 250px;
    }

    /* modal */
    .modal-crear-seccion {
        background-color: var(--color-principal);
        box-shadow: 0px 4px 4px 4px rgba(0, 0, 0, 0.25);
        z-index: 998;
        position: absolute;
        left: 35%;
        text-align: center;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 20px;
        width: 25%;
        top: 10%;
        margin-left: auto;
        margin-right: auto;
        display: none;
        flex-direction: column;
    }

    .modal,
    .modalConfirmacion {
        left: 41%;
        width: 20vw;
        top: 25%;
    }

    .botones button {
        width: 7vw;
        height: 2.5vh;
    }

    .barraBusqueda .inputTexto {
        width: 10vw;
    }

    .barraBusqueda .botonAmarillo {
        width: 4vw;
        height: 2.7vh;
    }

    .modal .botonRojo {
        width: 3vw;
        height: 3vh;
    }

    .modalConfirmacion .botonAmarillo,
    .modalConfirmacion .botonRojo {
        width: 3vw;
        height: 4.5vh;
    }
}

@media (max-width: 767px) {
    .cardItem {
        display: grid;
        box-shadow: 0px 4px 4px 4px rgba(0, 0, 0, 0.25);
        grid-template-columns: 1% 24% 25% 25% 25%;
        grid-template-rows: 0.1em 4em 4em 4em 1em 4em 4em 4em 4em 4em 4em;
        gap: 0px 0px;
        height: 90vh;
        grid-auto-flow: row;
        grid-template-areas:
            ". . . . ."
            ". Imagen Imagen Nombre Nombre"
            ". Imagen Imagen NombreComun NombreComun"
            ". Imagen Imagen Precio Precio"
            ". Imagen Imagen . ."
            ". Descripcion Descripcion Descripcion Descripcion"
            ". ProveedorLabel ProveedorLabel Proveedor Proveedor"
            ". AlmacenLabel AlmacenLabel Almacen Almacen"
            ". ContabilidadLabel ContabilidadLabel Contabilidad Contabilidad"
            ". ReferenciaLabel ReferenciaLabel Referencia Referencia"
            ". . BotonConsultar BotonConsultar .";
    }

    .busqueda-seccion {
        margin-top: 20px;
        display: flex;
        margin-left: 8%;
        width: 80%;
        justify-content: center;
        align-items: center;
    }

    .cards-conjuntos {
        margin-top: 20px;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(50%, 50%));
        padding: 10px;
        margin-left: 5%;
    }

    .busqueda-seccion select {
        margin-right: 10px;
        background-color: var(--color-amarillo);
        text-align: center;
        font-size: 1.1em;
        width: 120%;
    }

    .card-conjunto {
        box-shadow: 0px 4px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 13px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        width: 65%;
    }

    .cards-secciones {
        margin-top: 20px;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(50%, 40%));
        grid-gap: 10px;
        padding: 10px;
        margin-left: 5%;
    }

    .card-seccion {
        box-shadow: 0px 4px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 13px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        width: 65%;
    }

    /* modal */
    .modal-crear-conjunto {
        background-color: var(--color-principal);
        box-shadow: 0px 4px 4px 4px rgba(0, 0, 0, 0.25);
        z-index: 998;
        position: absolute;
        left: 7.5%;
        text-align: center;
        display: none;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 20px;
        width: 75%;
        top: 10%;
    }

    /* modal actualizar */
    .modal-actualizar-conjunto {
        background-color: var(--color-principal);
        box-shadow: 0px 4px 4px 4px rgba(0, 0, 0, 0.25);
        z-index: 998;
        position: absolute;
        left: 7.5%;
        text-align: center;
        display: none;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 20px;
        width: 75%;
        top: 10%;
    }

    /* modal */
    .modal-crear-seccion {
        background-color: var(--color-principal);
        box-shadow: 0px 4px 4px 4px rgba(0, 0, 0, 0.25);
        z-index: 998;
        position: absolute;
        left: 7.5%;
        text-align: center;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 20px;
        width: 75%;
        top: 10%;
        margin-left: auto;
        margin-right: auto;
        display: none;
        flex-direction: column;
    }

    .itemsConjunto {
        left: 10%;
        width: 80vw;
        top: 5%;
    }

    .botones button {
        width: 18vw;
        height: 5vh;
    }

    .barraBusqueda .inputTexto {
        margin-left: 0.25%;
        margin-right: 0.25%;
        width: 35vw;
        height: 5vh;
    }

    .barraBusqueda button {
        width: 15vw;
        height: 5vh;
    }

    .modal .botonRojo {
        width: 8vw;
        height: 3vh;
    }

    .modal,
    .modalConfirmacion {
        left: 5%;
        width: 90vw;
        top: 10%;
    }

    .modalConfirmacion .botonAmarillo,
    .modalConfirmacion .botonRojo {
        width: 15%;
        height: 4vh;
    }
}